body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#msg{
    font-size: 3rem;
    text-align: center;
    display: none;
    animation: popUp 1s 0s infinite linear;
}
.btn{
    font-size: 2.5rem;
    padding: .5rem 2rem;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
#img{
    margin-left: 1rem;
}
@keyframes popUp {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}